{% extends "base.html" %}
{% block content %}

{% if error %}
  <div class="alert alert-danger">
    <ul>
      <li>{{error}}</li>
    </ul>
  </div>
{% endif %}

{% if message %}
  <div class="alert alert-success">
    <ul>
      <li>{{message}}</li>
    </ul>
  </div>
{% endif %}

    <h1>Yhtyeet</h1>

  {% if user_logged_in %}
    {% if user_logged_in.is_admin == 1%}
      <p>
        <a href="{{base_path}}/band/new" class="btn btn-success">Lisää Yhtye</a>
      </p>
    {% endif %}
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
        <th>Perustettu</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan bändit -->
      {% for band in bands %}
      <tr>
          <td><a href="{{base_path}}/band/{{band.id}}">{{band.name}}</td>
        <td>{{band.description}}</td>
        <td>{{band.founded}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
