{% extends "base.html" %}
{% block content %}
  <h1>{{band.name}}</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Perustettu:</strong>{{band.founded}}</li>
    <li><strong>Kuvaus:</strong> {{band.description}} </li>
  </ul>
  
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
      </tr>
    </thead>
    
    <h2> Albumit </h2>
    <tbody>
      <!-- Listataan albumin -->
      {% for album in band_albums %}
      <tr>
        <td><a href="{{base_path}}/album/{{album.id}}">{{album.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p>
    <a href="{{base_path}}/album/new/{{band.id}}" class="btn btn-success">Lisää Albumi Yhtyeelle</a>
  </p>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
      </tr>
    </thead>
    
    <h2> Jäsenet </h2>
    <tbody>
      <!-- Listataan jäsenet-->
      {% for band_member in band_members %}
      <tr>
        <td><a href="{{base_path}}/band_member/{{band_member.id}}">{{band_member.name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <!-- Painikkeet tähän -->
  <p>
    <form method="post" action="{{base_path}}/band/{{band.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a href="{{base_path}}/band/{{band.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}