{% extends "base.html" %}
{% block content %}
  <h1>Light of Worlds</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> 11.11.1981</li>
    <li><strong>Yhtye:</strong> Kool & The Gang </li>
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    jees jees
  </p>
  
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}