{% extends "base.html" %}
{% block content %}
  <h1>{{band_member.name}}</h1>
  <ul>
    <li><strong>Yhtye:</strong> <a href="{{base_path}}/band/{{band_member.band_id}}"> {{band_member.band_name}} </a> </li>
    <li><strong>Kuvaus:</strong>{{band_member.description}}</li>
  </ul>


  {% if user_logged_in %}
    {% if user_logged_in.is_admin == 1%}  
      <p>
        <form method="post" action="{{base_path}}/band_member/{{band_member.id}}/destroy" style="display: inline-block;">
          <button type="submit" class="btn btn-danger">Poista</button>
        </form>
      </p>
    {% endif %}
  {% endif %}

{% endblock %}
