{% extends "base.html" %}
{% block content %}

<h1> Lisää Albumi </h1>

<form method="post" action="{{base_path}}/album">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control"></textarea>
    </div>
    
    <div class="form-group">
      <label>Julkaistu</label>
      <input type="text" name="release_date" class="form-control">
    </div>
    
    <div class="form-group">
      <input type="hidden" value="{{band_id}}" name="band_id" class="form-control">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>

{% endblock %}
