{% extends "base.html" %}
{% block content %}
  <h1>{{album.name}}</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
      <li> <strong> Yhtye: </strong><a href="{{base_path}}/band/{{album.band_id}}">{{album.band_name}}</a></li>
      <li> <strong> Julkaistu: </strong> {{album.release_date}}</li>
  </ul>
  
  <p> {{album.description}} </p>
  
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Pituus</th>
      </tr>
    </thead>
    
    <h2> Kappaleet </h2>
    <tbody>
      <!-- Listataan albumin kappaleet -->
      {% for track in album_tracks %}
      <tr>
        <td><a href="{{base_path}}/track/{{track.id}}">{{track.name}}</td>
        <td>{{track.track_length}} s</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <p>
    <a href="{{base_path}}/track/new/{{album.id}}" class="btn btn-success">Lisää Kappale Albumiin</a>
  </p>
{% endblock %}
