{% extends "base.html" %}
{% block content %}
  <h1>{{track.name}}</h1>
  <ul>
    <li><strong>Pituus:</strong>{{track.track_length}}</li>
    <li><strong>Albumi:</strong> <a href="{{base_path}}/album/{{track.album_id}}"> {{track.album_name}} </a> </li>
  </ul>

  {% if user_logged_in %}
    {% if user_logged_in.is_admin == 1%}

      <p>
        <form method="post" action="{{base_path}}/track/{{track.id}}/destroy" style="display: inline-block;">
          <button type="submit" class="btn btn-danger">Poista</button>
        </form>
        <a href="{{base_path}}/track/{{track.id}}/edit" class="btn btn-default">Muokkaa</a>
      </p>
    {% endif %}
  {% endif %}

{% endblock %}
